<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top red-border-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">CH Zodiacs</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">T-Shirts</a></li>
                    <li><a href="#contact">Accessories</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn btn-small" href="#">Login</a>
                    </li>
                    <li>
                        <a class="btn btn-small" href="#about">Signup</a>
                    </li>
                    <li>
                        <a class="" href="#">
                            <i class="glyphicon glyphicon-shopping-cart"></i>(0)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="wrap">
        {{{body}}}
        <div id="push"></div>
    </div>
    <div id="footer" class="">
        <div class="container">
            <div class="">
                <h4>Get Zodiacs news</h4>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Email</label>
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" style="width:50%;margin-right:2vw;">
                        <button type="submit" class="btn btn-default ">Subscribe</button>
                    </div>
                    <div class="control">
                        <div class="check-politica">
                            <input class="" type="checkbox">
                            <label>I accept the terms and conditionsand the privacy policy.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divide-line"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Contact us</h4>
                    <ul>
                        <li><i class="fa fa-envelope-open" aria-hidden="true"></i>zbj830130@hotmail.com</li>
                        <li><i class="fa fa-phone-square" aria-hidden="true"></i>0221550977</li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <h4>About us</h4>
                    <ul>
                        <li>Who are we</li>
                        <li>What do we sell</li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h4>Send message</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="inputSubject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="divide-line"></div>
        <div class="container" style="position:relative;">
            <div class="social-footer">
                <h4>Find us on social media</h4>
                <ul>
                    <li><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-weixin fa-4x" aria-hidden="true"></i></li>
                </ul>
            </div>
            <div class="copyright">
                <address>
                  © 2017 CH Zodiacs - ALL RIGHTS RESERVED
                </address>
                <img src="img/logo.png" />
            </div>
        </div>
        <!--
        <div class="container">
            <div class="row div-width-80">
                <div class="col-md-4">
                    <h4>Shipping Free</h4>
                    <p>Buy more then 99 NZD products, then the shipping is free.</p>
                </div>
                <div class="col-md-4">
                    <h4>Fefund Policy</h4>
                    <p>7 days unconditional return, except for underwears</p>
                </div>
                <div class="col-md-4">
                    <h4>Cash on delivery</h4>
                    <p>You do not need to pay online, you can pay us when you receive the products</p>
                </div>
            </div>
            <div>
                
            </div>
        </div>
-->

    </div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
