<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top red-border-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">CH Zodiacs</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">T-Shirts</a></li>
                    <li><a href="#contact">Accessories</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn btn-small" href="#">Login</a>
                    </li>
                    <li>
                        <a class="btn btn-small" href="#about">Signup</a>
                    </li>
                    <li>
                        <a class="" href="#">
                            <i class="glyphicon glyphicon-shopping-cart"></i>(0)
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="wrap">
        {{{body}}}
        <div id="push"></div>
    </div>
    <div id="footer" class="">
        <div class="container">
            <div class="">
                <h3>Get Zodiacs news</h3>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Email</label>
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" style="width:50%;margin-right:2vw;">
                        <button type="submit" class="btn btn-default ">Subscribe</button>
                    </div>
                    <div class="control">
                        <div class="check-politica">
                            <input class="" type="checkbox">
                            <label class="input-lg">I accept the terms and conditionsand the privacy policy.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="container">
            <div class="row div-width-80">
                <div class="col-md-4">
                    <h4>Shipping Free</h4>
                    <p>Buy more then 99 NZD products, then the shipping is free.</p>
                </div>
                <div class="col-md-4">
                    <h4>Fefund Policy</h4>
                    <p>7 days unconditional return, except for underwears</p>
                </div>
                <div class="col-md-4">
                    <h4>Cash on delivery</h4>
                    <p>You do not need to pay online, you can pay us when you receive the products</p>
                </div>
            </div>
            <div>
                
            </div>
        </div>
-->

    </div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
