<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/shoppingCart.css" rel="stylesheet">
    <link href="/css/loginAndSignup.css" rel="stylesheet">{{{_sections.csslink}}}
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse red-border-bottom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">CH Zodiacs</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="leftNavbar" class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/channel?category=1">T-Shirts</a></li>
                    <li><a href="/channel?category=2">Puzzles</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a id="loginUserName" class="btn btn-small" href="javascript:void(0);"></a>
                    </li>
                    <li>
                        <a id="userLogout" class="btn btn-small" href="javascript:void(0);">Logout</a>
                    </li>
                    <li>
                        <a id="loginButton" class="btn btn-small" href="javascript:void(0);" data-toggle="modal" data-target="#loginAndSignupDiv">Login | Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="loginAndSignupDiv" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:10000;">
        <div class="modal-dialog">
            <div class="modal-content">
                <a class="close" data-dismiss="modal" herf="javascript:vodi(0);"><i class="fa fa-window-close fa-2x" aria-hidden="true"></i></a>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0">
                            <div class="panel panel-login">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <a href="#" class="active" id="login-form-link">Login</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="#" id="register-form-link">Signup</a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form id="login_form" role="form" style="display: block;">
                                                <div class="form-group">
                                                    <input type="text" name="log_username" id="log_username" tabindex="1" class="form-control" placeholder="Username" value="">
                                                    <span></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="log_password" id="log_password" tabindex="2" class="form-control" placeholder="Password">
                                                    <span></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <input type="button" name="login_submit" id="login_submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <form id="register_form" role="form" style="display: none;">
                                                <div class="form-group">
                                                    <input type="text" name="reg_username" id="reg_username" tabindex="1" class="form-control" placeholder="Username" value="">
                                                    <span></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="reg_password" id="reg_password" tabindex="2" class="form-control" placeholder="Password">
                                                    <span></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="reg_confirm_password" id="reg_confirm_password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                                    <span></span>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <input type="button" name="register_submit" id="register_submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="wrap">
        {{{body}}}
        <div id="push"></div>
    </div>
    <div id="footer" class="">
        <div class="container">
            <div class="">
                <h4>Get Zodiacs news</h4>
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Email</label>
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" style="width:50%;margin-right:2vw;">
                        <button type="submit" class="btn btn-default ">Subscribe</button>
                    </div>
                    <div class="control">
                        <div class="check-politica">
                            <input class="" type="checkbox">
                            <label>I accept the terms and conditionsand the privacy policy.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divide-line"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Contact us</h4>
                    <ul>
                        <li><i class="fa fa-envelope-open" aria-hidden="true"></i>zbj830130@hotmail.com</li>
                        <li><i class="fa fa-phone-square" aria-hidden="true"></i>0221550977</li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <h4>About us</h4>
                    <ul>
                        <li>Who are we</li>
                        <li>What do we sell</li>
                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h4>Send message</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="inputSubject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="divide-line"></div>
        <div class="container" style="position:relative;">
            <div class="social-footer">
                <h4>Find us on social media</h4>
                <ul>
                    <li><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i></li>
                    <li><i class="fa fa-weixin fa-4x" aria-hidden="true"></i></li>
                </ul>
            </div>
            <div class="copyright">
                <address>
                  © 2017 CH Zodiacs - ALL RIGHTS RESERVED
                </address>
                <img src="img/logo.png" />
            </div>
        </div>
    </div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/webSetting.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/loginAndSignup.js"></script>
{{{_sections.javascript}}}

</html>
