.col-md-4 img {
    width: 98%;
    height: auto;
}

.productItem {
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 3vw;
}

.div-width-95 h3{
    margin-left: 1vw;
}
