.item-img {
    width: 20%;
    height: auto;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

.proudctText {
    display: inline-block;
    list-style: none;
    padding-left: 1px;
    vertical-align: middle;
    text-align: center;
    width: 40%;
}

.productQty {
    display: inline-block;
}

.proudctText li {
    margin-top: 2px;
}

.miniCartQty{
    width: 1vw;
}

.deleItem {
    margin-left: 10px;
    vertical-align: middle;
    color: black;
}

.bottom-color-gray {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #b3b3b3;
}

.bottom-no-border {
    border-bottom: 0;
}

.top-no-border {
    border-top: 0;
}
