.sIndexItemPic {
    width: 20%;
    height: auto;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}

.sIndexText {
    display: inline-block;
    list-style: none;
    padding-left: 1px;
    vertical-align: middle;
    text-align: center;
    width: 30%;
    font-size: 1.5vw;
}

.sIndexQty {
    display: inline-block;
    font-size: 1.5vw;
    margin-left: 10vw;
}

.sIndexQty .fa {
    color: black;
}

.sIndexQty li {
    margin-top: 2px;
    color: black;
}

.sIndexRemoveItem{
    display: inline-block;
    margin-left: 5vw;
}

.totalPrice,
.operation,
.removeItem {
    display: inline-block;
    
}

.totalPrice {
    width: 68%;
}

.operation {
    width: 30%;
    text-align: right;
}

.removeItem {
    height: 100%;
    color: black;
}
