{{#each addresses}}
<div class="col-md-3">
    <div class="addressItem">
        <span>{{reveivername}}</span>
        <span>{{mobile}}</span>
        <span>{{address}}</span>
        <input type="hidden" value="{{id}}" /> 
    </div>
</div>
{{/each}}
