{{#section 'csslink'}}
<link href="/css/detail.css" rel="stylesheet">
<link href="/css/bootstrap-select.min.css" rel="stylesheet">{{/section}}
<div class="contain">
    <div class="div-width-95 big-pic">
        <img src="img/product_dog.png">
    </div>
    <div class="product-header div-width-80">
        <h3>CHINESE ZODIAC T-Shirt Rat1</h3>
        <h4>White</h4>
        <span>$19.99</span>
    </div>
    <div class="div-width-80 opertaions">
        <div class="size">
            <label>Size:</label>
            <select class="form-control">
            <option>s</option>
            <option>m</option>
        </select>
        </div>
        <div class="qty">
            <label>Quantity:</label>
            <label id="minusQty" class="btn">
            <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
        </label>
            <label id="qty">0</label>
            <label id="plusQty" class="btn">
            <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
        </label>
        </div>
        <div id="addtoCart" >
            <button class="btn btn-danger">Add to Cart</button>
        </div>
    </div>
</div>
{{#section 'javascript'}} {{/section}}
